# Ignore everything by default.
*

# Then, whitelist the necessary files and directories for deployment.
!app.yaml
!main.py
!requirements.txt
!etf_list.csv

# Application, static, and template directories
!app/
!app/**
!static/
!static/**
!templates/
!templates/**

# Keep these files for reference, but they won't be uploaded unless whitelisted.
!.gcloudignore
!.gitignore
